@import "../../../../assets/utils.scss";

.header-wrapper {
  padding: 25px 35px;
  background: $light-blue;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-weight: 700;
  font-size: 36px;
  font-style: oblique;
  -webkit-text-stroke: 0.001em $white;
}
button[disabled="true"] {
  display: none;
}
button {
  margin-right: 5px;
  width: 100px;
}
.icon {
  padding-left: 10px;
}
a {
  color: $blue;
  text-decoration: none;
}

@media (max-width: 320px) {
  .mat-raised-button {
    min-width: 50px;
  }
}
