<div class="welcome-wrapper">
  <div class="welcome-container">
    <div class="container-information">
      <div class="appliation-descrition">
        <div class="description-title">
          {{ "welcome.welcomeTitle" | translate }}
        </div>
        <div class="description-subtitle">
          {{ "welcome.welcomeDescription" | translate }}
        </div>
        <button class="let-start" routerLink="/singin">
          {{ "welcome.startplanningbutton" | translate }}
        </button>
      </div>
    </div>
    <div class="container-benefits">
      <div class="benefits">
        <h3 class="benefits-title">{{ "welcome.welcomeBenefits" | translate }}</h3>
        <ul>
          <li>
            <mat-icon>done</mat-icon
            >{{ "welcome.benefitsDescriptionOne" | translate }}
          </li>
          <li><mat-icon>done</mat-icon
            >{{ "welcome.benefitsDescriptionTwo" | translate }}</li>
          <li><mat-icon>done</mat-icon
            >{{ "welcome.benefitsDescriptionThree" | translate }}</li>
          <li><mat-icon>done</mat-icon
            >{{ "welcome.benefitsDescriptionFour" | translate }}</li>
        </ul>
      </div>
      <div class="benefits">
        <h3 class="benefits-title">{{ "welcome.welcomeOppotunities" | translate }}</h3>

        <ul>
          <li><mat-icon>done</mat-icon
            >{{ "welcome.oppotunitiesDescriptionOne" | translate }}</li>
          <li><mat-icon>done</mat-icon
            >{{ "welcome.oppotunitiesDescriptionTwo" | translate }}</li>
          <li><mat-icon>done</mat-icon
            >{{ "welcome.oppotunitiesDescriptionThree" | translate }}</li>
          <li><mat-icon>done</mat-icon
            >{{ "welcome.oppotunitiesDescriptionFour" | translate }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
