<p>column works!</p>
<mat-toolbar
  color="primary"
  class="column__header"
  [ngClass]="{ 'column__header_with-input': isEditableTitle }"
>
  <span *ngIf="!isEditableTitle" focusOrigin="mouse" (click)="showInput()"
    >{{ columnData.title }}
  </span>

  <mat-form-field *ngIf="isEditableTitle">
    <button
      *ngIf="!isTitleUpdatingProgress"
      mat-icon-button
      matSuffix
      [disabled]="
        titleControl.invalid || titleControl.value === columnData.title
      "
      (click)="updateTitle()"
    >
      <mat-icon>done</mat-icon>
    </button>

    <button
      *ngIf="!isTitleUpdatingProgress"
      mat-icon-button
      matSuffix
      (click)="hideInput()"
    >
      <mat-icon>close</mat-icon>
    </button>

    <input
      title="input"
      matInput
      autocomplete="false"
      [formControl]="titleControl"
      #titleInput
    />
  </mat-form-field>

  <span class="spacer"></span>
  <button mat-icon-button (click)="deleteColumn()">
    <mat-icon>delete</mat-icon>
  </button>
</mat-toolbar>
